# Project
DEBUG=# True for development, False for production
SECRET_KEY=# Django secret key

# Email
EMAIL_HOST=# Email host
EMAIL_PORT=# Email port
EMAIL_USE_TLS=# True for TLS, False for no TLS
EMAIL_HOST_USER=# Email host user
EMAIL_HOST_PASSWORD=# Email host password
DEFAULT_FROM_EMAIL=# Default from email


# Logging
LOGGING_PATH=# Path to store logs
LOGGING_LEVEL=# Logging level e.g. DEBUG, INFO, WARNING, ERROR, CRITICAL

# Allowed hosts
ALLOWED_HOSTS=# Comma separated list of allowed hosts e.g. localhost,127.0.0.1,example.com

# Database
DB_NAME=# Database name
DB_USER=# Database user
DB_PASSWORD=# Database password
DB_HOST=# Database host
DB_PORT=# Database port