# Project
DEBUG=# True for development, False for production
SECRET_KEY=# Django secret key
USE_TZ=# True for time zone support, False for no time zone support
TIME_ZONE=# Time zone e.g. UTC, Asia/Ho_Chi_Minh
CACHES_REDIS_URL=# Redis URL for caching


# Platform
PLATFORM_CONFIG_SPREADSHEET_ID=# Google spreadsheet ID for platform configuration
PLATFORM_GG_ACCOUNT_SERVICE_ID=# Google service account ID for Google Sheets API
PLATFORM_WORKSHEET_ID=# Google spreadsheet worksheet ID for platform configuration
PLATFORM_CELL_TOKEN=# Cell token for platform configuration

# Email
EMAIL_HOST_USER=# Email host user
EMAIL_HOST_PASSWORD=# Email host password


# Logging
LOGGING_PATH=# Path to store logs
LOGGING_LEVEL=# Logging level e.g. DEBUG, INFO, WARNING, ERROR, CRITICAL

# Allowed hosts
ALLOWED_HOSTS=# Comma separated list of allowed hosts e.g. localhost,127.0.0.1,example.com

# Database
DB_NAME=# Database name
DB_USER=# Database user
DB_PASSWORD=# Database password
DB_HOST=# Database host
DB_PORT=# Database port

# Celery
CELERY_BROKER_URL=# Celery broker URL
