<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                &copy; <script>document.write(new Date().getFullYear())</script> <a href="javascript:void(0);">STOs Team</a>. All rights reserved.
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block">
                    For internal use only.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->